/* Mountain Peak Hotel*/
/* 27/11/2022*/
/*Author: John Williams*/

@media and (max-width: 780px) {
	h1 {
		font-size:10px;
		
	}
	
	h2 {
		font-size:7px;
		
	}
	
	h3{
		font-size:5px;
		
	}
	
	p {
		font-size:4px;
		
	}
	div.nav,footer,header,section{
		width:100%;
		height:100Px;
	}
	
	img{
		width:100%;
		height:100px;
	}
	
	}


			h1,h2,h3{
				font-family:mountainhead;
				color:rgb(23,104,172)
			}
			body{
				background-color:#EEF0F2;
				color:#36382E;
				font-family:mountainbody;
								
			}
			
			.logobar{
				height:30px;
				background-color:#fff;
				color:#36382E;
			}
			
			#logocontact{
				position:absolute;
				right:30px;
				top:2px;
				
			}
			
			.navbar{
				display:flex;
				height:100px;
				position:sticky;
				top:0%;
				z-index:1;
				
			}
			
			.navdiv1{
				width:30%;
				background-color:rgba(255,255,255,0.5);;
			}
			
			.navdiv1 img{
				margin-left:80px;
				position:relative;
				bottom:20px;
			}
			
			.navdiv2{
				width:70%;
				height:100px;
				line-height:100px;
				background-color:rgba(23,104,172,0.5);
				color:#fff;
			}
			
			
			#navlist li, #navlist{
				display:inline;
				margin:10px;
				
			}
			#navlist li{
				position:relative;
				left:220px;
			}
			
			#navlist li a{
				text-decoration:none;
				color:white;
			}
			
			#navlist li a:hover{
				font-size:22px;
				color:#B09B96;
				text-decoration:overline;
			}
			
			.banner{
				height:700px;
				border:2px solid rgba(0,0,0,0);
								
			}

			#welcome{
				text-align:center;
				color:#fff;
				text-shadow:5px 5px 5px #36382E;
				font-size:50px;
				letter-spacing:5px;
			}
			
			#motto{
				font-size:25px;
				color:#131200;
				text-align:center;
				background-color:rgba(255,255,255,0.7);
			}
			
			.lodge{
				color:#B09B96;
			}
			
			.footmenu{
				background:linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
				height:100px;
				margin-top:50px;
				text-align:center;
			}
			
			.footmenu span{
				font-family:mountainbody !important;
				margin:30px;
				text-shadow:4px 4px 4px #B09B96;
				font-size:20px;
			}
			
			footer{
				height:400px;
				background-color:#000;
				color:#CFB9A5;
				width:100%;
				margin-top:-100px;
				display:flex;
				justify-content:space-around;
			}
			

			.finalfooter{
				display:flex;
				background-color:#000;
			}
			
			.copyright{
				width:50%;
				height:50px;
				color:#D3D3D3;
				font-size:12px;
				margin-left:30px;
			}
			
			.smicons{
			width:50%;
			margin:auto;
			height:50px;
			position:relative;
			right:-25%;
		}
		
		.bodydiv{
				background-color:#fff;
				position:relative;
				bottom:50px;
				margin-left:5%;
				margin-right:5%;
			}
			
			.services,.room,.news,.welcome{
				display:flex;
				justify-content:space-around;
			}
			
			.services{
				height:300px;
			}
			
			.services .items{
				width:30%;
				position:white;
				
			}
			
			.imgwriteup{
				position:absolute;
				top:50px;
				width:30%;
				background-color:rgba(176,155,150,0.6);
				height:60px;
				color:white;
				font-weight:bold;
				font-size:20px;
				text-align:center;
				
			}
			
			.imgwriteup span{
				margin-top:10px;
			}
			
			.learnmore{
				color:#B09B96;
				text-decoration:underline;
				font-size:14px;
				font-family:Courgette;
				background-color:#fff;
				
			}
			
			.learnmore:hover{
				font-size:20px;
				color:#fff;
				background-color:#1768AC;
			}
			
			.lodge{
				width:30%;	
				height:250px;
			}
			
			.img1{
				width:35%;
				margin-top:20px;
				margin-left:20px;
			}
			
			.news1{
				width:65%;
			}
			
			#vidintro{
				position: absolute;
				width:inherit;
				height:inherit;
			}
			#box{
				position: relative;
				right:0px;
				margin-top:200px;
				margin-left:10%;
				margin-right:10%;				
				width:80%;
				height:250px;
				background-color:rgba(255,255,255,0.4);
			}

.welcome{
	border-top:50px;
}

.welcomeheading, .imginfo{
	color:#1768AC;
	margin-top:50px;
	
}

.img1 a, #sitelinks p a, #smedia p a{
	color:#B09B96;	
	text-decoration:none;
}

.img1 a:hover{
	color:#36382E;
}

#sitelinks p a:hover{
	color:#fff;
}

#smedia p a:hover{
	color:#fff;
}

.welmsg{
	margin-top:50px;
}

.lodgeimg:hover{
	height:250px;
	width:105%;
	box-shadow: 5px 5px 5px #1768AC;
}

.roomz:hover{
	height:350px;
	width:110%;
	box-shadow: 5px 5px 5px #1768AC;
}

#offersmail{
	width:300px;
	height:20px;	
	padding:20px;
	font-size:17px;
}

#btn{
	height:54px;
	width:100px;
	margin-left:50px;
	background-color:#1768AC;
	color:#fff;
}

#btn:hover{
	background-color:#B09B96;
	color:#36382E;
}

#contact{
	width:25%;
	height:400px;
	margin-top:20px;
	text-align:center;
}

.add{
	margin-left:20px;
	height:80px;
	margin-top:-10px;
	color:#B09B96;
}

#sitelinks{
	width:40%;
	height:400px;
	margin-top:20px;
	text-align:center;
}

#slink, #sconnect, #stayconnect{
	padding-bottom:20px;	
}


#smedia{
	width:25%;
	height:400px;
	margin-top:20px;
	text-align:center;
}

.smicons a img{
	margin:8px;
}




